services:
  api:
      image: fp-app
      container_name: fp-app
      ports:
         - 8000:8000
      volumes:
         - ./whylogs_data:/app/whylogs_data
      networks:
         - monitoring
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.47.2
    container_name: cadvisor
    ports:
      - "8080:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro  # Only needed on Docker Desktop for Mac
    networks:
      - monitoring
    restart: unless-stopped

  grafana:
      image: grafana/grafana:10.2.2
      container_name: grafana
      ports:
        - "3000:3000"
      environment:
        - GF_SECURITY_ADMIN_PASSWORD=secret
      volumes:
        - grafana-storage:/var/lib/grafana
      networks:
        - monitoring
      restart: unless-stopped

  prometheus:
      image: prom/prometheus:v2.52.0
      container_name: prometheus
      ports:
          - "9090:9090"
      volumes:
          - ./prometheus.yml:/etc/prometheus/prometheus.yml
      networks:
          - monitoring
      restart: unless-stopped
  whylabs:
    image: whylabs/whylogs:latest           # self-hosted whylogs/whylabs image
    container_name: whylabs-local
    volumes:
      - ./whylogs_data:/data                # same shared folder
    ports:
      - "8082:8080"                         # expose if you want to view locally
    environment:
      - WHYLOGS_NO_WHYLABS:true
      - WHYLOGS_OUTPUT_PATH:/data
    networks:
      - monitoring
    restart: unless-stopped
volumes:
      grafana-storage:

networks:
      monitoring:
